<div class="sidebar-section" id="music">{% include "leftbar/music.njk" %}</div>

<div class="sidebar-section">
  <p>lol</p>
</div>

<div class="sidebar-section">
  <p>lol</p>
</div>
<script src="/js/layout_js/music_player.js"></script>
