<div class="sidebar-section" id="music">
  <p><b>ワンピースは本物だ!!</b></p>
  <img src="/assets/main_layout/leftbar/disko.gif" alt="music-gif">
  <div id="progress-container">
    <div id="progress-fill">
      
    </div>
  </div>
</div>
<div class="sidebar-section">
  
</div>
<div class="sidebar-section">
  
</div>
