<div class="container">
  <div class="panel">
    <img src="/assets/main_layout/middle/misato.png" id="char1" alt="" />
    <div class="info">
      <div class="ptt">
        <span><b>&nbsp;PTT&nbsp;</b></span>
      </div>
      <div class="connector">
      <div id="freq-box">
        <div class="freq-line"><div class="fill-line"></div></div>
        <div class="freq-line"><div class="fill-line"></div></div>
        <div class="freq-line"><div class="fill-line"></div></div>
        <div class="freq-line"><div class="fill-line"></div></div>
        <div class="freq-line"><div class="fill-line"></div></div>
        <div class="freq-line"><div class="fill-line"></div></div>
        <div class="freq-line"><div class="fill-line"></div></div>
      </div>
      <div class="freq-num">
        <p>599.99</p>
      </div>
      </div>
      <div class="ptt">
        <span><b>&nbsp;MEMORY&nbsp;</b></span>
        <span onclick="connect()"><b>&nbsp;TUNE&nbsp;</b></span>
      </div>
    </div>
    <img src="/assets/main_layout/middle/celty.png" id="char2" alt="" />
  </div>

  <div id="dialog"><p id="dialog-text">***DISCONNECTED***</p>
    <p onclick="nextline()">>></p>
  </div>
</div>
<script src="/js/layout_js/codec.js"></script>
