<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="mainpage">
      {% include "header.njk" %}

      <div class="mid-section">
        <aside class="left">{% include "leftbar.njk" %}</aside>
        <main class="center">{{ content | safe }}</main>
        <aside class="right">{% include "rightbar.njk" %}</aside>
      </div>
    
      {% include "footer.njk" %}
    </div> 
  </body>
</html>
