---
layout: main.njk
title: About
permalink: /about/
---

<h2>About the About the heheh</h2>
<p>This is my personal website built with 11ty.</p>

<section>
    <h3>About This Site</h3>
    <p>I built this using 11ty, a simple static site generator.</p>
</section>
