<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="mainpage">
      <header>
    <img src="/assets/main_layout/header/bannerop.png" alt=banner>
    <nav>
        <a href="/">Landing</a>
        <a href="/sitemap">Sitemap</a>
        <a href="/home">Home</a>
        <a href="/about/">About</a>
        <a href="/anime/">Anime</a>
        <a href="/games/">Games</a>
        <a href="/shrines/">Shrines</a>
        <a href="/blog/">Blog</a>
        <a href="/guestbook/">Guestbook</a>
    </nav>
</header>


      <div class="mid-section">
        <aside class="left"><div class="sidebar-section" id="music"><div id="decor">
  <img src="/assets/main_layout/leftbar/disko.gif" alt="music-gif" />
  <p><b>ワンピースは本物だ</b></p>
  </div>
  <div id="progress-container">
    <div id="progress-fill"></div>
  </div>
  <div class="controls">
  <img id="prev" src="/assets/main_layout/leftbar/prev.png" onclick="prevnext(0)" alt="prev">
  <img id="playpause" src="/assets/main_layout/leftbar/play.png" onclick="playpause()" alt="play">
  <img id="next" src="/assets/main_layout/leftbar/next.png" onclick="prevnext(1)" alt="next">
  <select id="dropdown"><option value="">CHOOSE MUSIC</option></select>
  <audio id="audio" hidden="hidden" src=""></audio>
  </div>
</div>

<div class="sidebar-section">
  <p>lol</p>
</div>

<div class="sidebar-section">
  <p>lol</p>
</div>
<script src="/js/layout_js/music_player.js"></script>
</aside>
        <main class="center">
<h2>Welcome to My Website</h2>
<p>This is my personal website built with 11ty.</p>

<section>
    <h3>About This Site</h3>
    <p>I built this using 11ty, a simple static site generator.</p>
</section>

<p>oooh so this is the content</p>
</main>
        <aside class="right"></aside>
      </div>
    
      <footer>
    <span>&copy; 2024 My Website. No rights reserved.</span>
</footer>

    </div> 
    <script src="/js/main.js"></script>
  </body>
</html>

