<div id="decor">
  <img src="/assets/main_layout/leftbar/disko.gif" alt="music-gif" />
  <p><b>ワンピースは本物だ</b></p>
  </div>
  <div id="progress-container">
    <div id="progress-fill"></div>
  </div>
  <div class="controls">
  <img id="prev" src="/assets/main_layout/leftbar/prev.png" onclick="prevnext(0)" alt="prev">
  <img id="playpause" src="/assets/main_layout/leftbar/play.png" onclick="playpause()" alt="play">
  <img id="next" src="/assets/main_layout/leftbar/next.png" onclick="prevnext(1)" alt="next">
  <select id="dropdown"><option value="">CHOOSE MUSIC</option></select>
  <audio id="audio" hidden="hidden" src=""></audio>
  </div>
